
$basic-white: #FFFFFF;
$basic-black: #000000;
$accent-color: #296DC1;
$secondary-color: #00A82D;

$border-main: #DEDEDE;
$basket-border: #A8AFBB;

$form-backgound: #F2F5F9;
$form-success: #4892EC;
$form-error: #E86880;

$mobile-width: 320px;
$big-mobile-width: 580px;
$tablet-width: 750px;
$laptop-width: 1200px;
